In [1]:
import xlrd

In [2]:
import os

In [3]:
os.chdir('C:\\Users\\18200\\Desktop\\数据清洗课程材料\\代码和数据')

In [ ]:
workbook=xlrd.open_workbook('meal_order_detail.xlsx')

In [ ]:
sheet_name = workbook.sheet_names()

In [ ]:
order=pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail1')

In [4]:
import pandas as pd

In [ ]:
order1=pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail1')
order2=pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail2')
order3=pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail3')

In [ ]:
order =pd.concat([order1,order2,order3],axis=0,ignore_index=True)

In [ ]:
order.tail(5)

In [ ]:
basic = pd.DataFrame()

In [ ]:
for i in sheet_name:
    basic_i = pd.read_excel('meal_order_detail.xlsx',sheet_name=i)
    basic = pd.concat([basic,basic_i],axis=0,ignore_index=True)

In [ ]:
basic.shape

In [ ]:
basic

In [ ]:
df = pd.read_csv('baby_trade_history.csv',dtype={'user_id':str})

In [ ]:
df = pd.read_csv('online_order.csv',dtype={'custmoer':str,'order':str})

In [ ]:
grouped = df.groupby(['customer','weekday'])

In [5]:
import numpy as np

In [ ]:
grouped.mean()['Food%']

In [ ]:
grouped.sum()['total_items']

In [ ]:
var=['Food%', 'Fresh%', 'Drinks%', 'Home%', 'Beauty%', 'Health%', 'Baby%',
       'Pets%']

In [ ]:
df[var].apply(np.sum,axis=1)

grouped.mean()

In [ ]:
grouped.max()

In [ ]:
grouped.min()

In [ ]:
grouped.agg([np.min,np.max,np.mean]).head(5)

In [ ]:
grouped.agg({'total_items':np.sum,'Food%':[np.mean,np.sum]})

In [ ]:
df[['total_items','Food%','Drinks%']].agg([np.sum,np.mean,np.max])

In [ ]:
grouped.apply(np.mean)[['total_items','discount%','weekday']]

In [ ]:
df.columns

In [ ]:
var = ['Food%', 'Fresh%', 'Drinks%', 'Home%', 'Beauty%', 'Health%', 'Baby%']

In [ ]:
df[var].apply(np.sum,axis=1)

In [ ]:
df[var].apply(lambda x:x[0]-x[1],axis=1)

In [ ]:
df=pd.read_csv('online_order.csv',encoding='gbk',dtype={'customer':str,'order':str})

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
pd.pivot_table(data=df,index='weekday',columns='customer',values='total_items',aggfunc=np.mean,margins=True,margins_name='商品情况总计',fill_value=0)

In [ ]:
pd.pivot_table?

In [ ]:
pd.crosstab(index=df['weekday'],columns=df['discount%'])

In [ ]:
pd.merge?

In [ ]:
df2=pd.merge(left=df,right=df1,how='inner',left_on='user_id',right_on='user_id')

In [ ]:
df1=pd.read_csv('sam_tianchi_mum_baby.csv',dtype={'user_id':str})

In [ ]:
df.info()

In [ ]:
df=pd.read_csv('baby_trade_history.csv',dtype={'user_id':str})

In [ ]:
df.head()

In [ ]:
df2.head(10)

In [ ]:

df=pd.read_csv('MotorcycleData.csv',encoding='gbk',na_values='Na',dtypes={'Mileage':float})

In [ ]:
df['Mileage']

In [ ]:
def f(x):
    if '$' in str(x):
        x = str(x).strip('$')
        x = str(x).replace(',','')
    else:
        x = str(x).replace(',','')

In [ ]:
df['Milleage']=df['Mileage'].apply(f)

In [ ]:
df.info()

In [ ]:
any(df.duplicated())

In [ ]:
df[df.duplication()]

In [ ]:
np.sum(df.duplicated())

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.drop_duplicates(subset=['Condition', 'Condition_Desc', 'Price', 'Location'],inplace=True)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df[df.duplicated()]

In [ ]:
np.sum(df.duplicated())

In [ ]:
df.drop_duplicates(subset=['appname','size'],inplace=True)

In [ ]:
df.apply(lambda x:sum(x.isnull())/len(x),axis=0)

In [ ]:
df.head(3)

In [ ]:
df.dropna(how='all',axis=0)

In [ ]:
df.dropna(how='any',subset=['Condition','Price','Mileage'])

In [ ]:
df.fillna(0)

In [ ]:
df.info()

In [ ]:
df.Milleage.fillna(df.Milleage.mean())

In [ ]:
df.columns

In [ ]:
df[df['Exterior_Color'].isnull()]

In [ ]:
df['Exterior_Color'].mode()[0]

In [ ]:
df['Exterior_Color'].fillna(df['Exterior_Color'].mode()[0])

In [ ]:
df.fillna(value={'Exterior_Color':'Black','Mileage':df['Mileage'].median()},inplace=True)

In [ ]:
df['Milleage'].median()

In [ ]:
df['Exterior_Color'].fill

In [ ]:
df['Exterior_Color'].fillna(method='ffill')

In [ ]:
df.head()

In [ ]:
df['Price'] = df['Price'].mean()

In [ ]:
f2=lambda x:str(x) and str(x).replace('$','')

In [ ]:
f1=lambda x:str(x) and str(x).replace(',','')

In [ ]:
df['Price'] = df['Price'].apply(f2)

In [ ]:
df['Price']

In [ ]:
x_bar = df['Price'].mean()

In [ ]:
df['Price']=pd.to_numeric(df['Price'])

In [ ]:
df['Price']

In [ ]:
x_bar=df['Price'].mean()

In [ ]:
x_std=df['Price'].std()

In [ ]:
any(df['Price']<x_bar-2*x_std)

In [ ]:
df['Price'].describe()

In [ ]:
Q1=df['Price'].quantile(q=0.25)

In [ ]:
Q3=df['Price'].quantile(q=0.75)

In [ ]:
IQR=Q3-Q1

In [ ]:
IQR

In [ ]:
any(df['Price']<Q3+1.5*IQR)

In [ ]:
any(df['Price']<Q1-1.5*IQR)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
df['Price'].plot(kind='box')

In [ ]:
plt.style.use('seaborn')
df.Price.plot(kind='hist',bins=30,density=True)
df.Price.plot(kind='kde')
plt.show()

In [ ]:
P99=df['Price'].quantile(q=0.99)
P1=df['Price'].quantile(q=0.01)

In [ ]:
df['Price_new']=df['Price']

In [ ]:
df.loc[df['Price']>P99,'Price_new']=P99
df.loc[df['Price']<P1,'Price_new']=P1

In [ ]:
df[['Price','Price_new']].describe()

In [ ]:
df['Price_new'].plot(kind='box')

In [ ]:
df.Price_new.plot(kind='box')

In [ ]:
df['Price_bin']=pd.cut(df['Price_new'],bins=5,labels=range(5))

In [ ]:
#df['Price_bin'].value_counts().plot(kind='bar')
df['Price_bin'].hist()

In [ ]:
w = [100,1000,5000,10000,20000,100000]

In [ ]:
df['Price_bin']=pd.cut(df['Price_new'],bins=w,labels=range(5))

In [ ]:
df[['Price_new','Price_bin']]

In [ ]:
df['Price_bin'].hist()

In [ ]:
k=5
w=[1.0 * i/k for i in range(k+1)]
df['Price_bin']=pd.qcut(df['Price_new'],w,labels=range(5))

In [ ]:
df['Price_bin'].hist()

In [ ]:
k =5
w1=df['Price_new'].quantile([1.0 * i/k for i in range(k+1)])

In [ ]:
w1

In [ ]:
w1[0] = w1[0]*0.95
w1[1.0] = w1[1.0]*1.1

In [ ]:
w1

In [ ]:
df['Price_bin'] = pd.cut(df['Price_new'],bins=w1,labels=range(5))

In [ ]:
df['Price_bin'].hist()

In [30]:
df.iloc?

In [ ]:
df['Price'].str.split?

In [ ]:
df['Price']

In [ ]:
df.columns

In [ ]:
grouped = df.groupby(np.sum,axis=0)

In [ ]:
df[].grouped?

In [ ]:
df[].grouped

In [ ]:
arr1=np.array([-9,3,4,62,1],dtype=int)

In [ ]:
arr1

In [4]:
import numpy as np

In [5]:
arr3 = np.array([[1,2,3],[4,5,6],[7,8,9],[1,26,3]])

In [6]:
arr3

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [ 1, 26,  3]])

In [7]:
np.arange(1,10,5)

array([1, 6])

In [8]:
np.linspace(1,10,5,endpoint=False)

array([1. , 2.8, 4.6, 6.4, 8.2])

In [9]:
9/4

2.25

In [10]:
np.zeros([2,3])

array([[0., 0., 0.],
       [0., 0., 0.]])

In [11]:
arr3

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [ 1, 26,  3]])

In [12]:
arr3.shape

(4, 3)

arr3.size

In [13]:
arr3.size

12

In [15]:
arr3.dtype

dtype('int32')

In [17]:
data2 = ((3.3,31.2),(5.6,31.2),(32.2,12.3),(4,7.3))

In [18]:
arr2=np.array(data2)

In [19]:
arr2

array([[ 3.3, 31.2],
       [ 5.6, 31.2],
       [32.2, 12.3],
       [ 4. ,  7.3]])

In [21]:
arr2[0:3]

array([[ 3.3, 31.2],
       [ 5.6, 31.2],
       [32.2, 12.3]])

In [23]:
arr2[1,0]

5.6

arr2[1]

In [31]:
arr2

array([[ 3.3, 31.2],
       [ 5.6, 31.2],
       [32.2, 12.3],
       [ 4. ,  7.3]])

In [34]:
arr2[0:2,0]

array([3.3, 5.6])

In [35]:
arr2[0,0]

3.3

In [36]:
arr2[0][0]

3.3

In [4]:
import pandas as pd
import os
os.chdir(r'C:\Users\18200\Desktop\数据清洗课程材料\代码和数据')
df1 = pd.read_excel('meal_order_detail.xlsx',encoding='utf-8',sheet_name='meal_order_detail1')
df2 = pd.read_excel('meal_order_detail.xlsx',encoding='utf-8',sheet_name='meal_order_detail2')
df3 = pd.read_excel('meal_order_detail.xlsx',encoding='utf-8',sheet_name='meal_order_detail3')

In [6]:
os.getcwd()

'C:\\Users\\18200\\Desktop\\数据清洗课程材料\\代码和数据'

In [72]:
df = pd.read_csv('baby_trade_history.csv',encoding='utf-8',dtype={'user_id':str})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29971 entries, 0 to 29970
Data columns (total 7 columns):
user_id       29971 non-null object
auction_id    29971 non-null int64
cat_id        29971 non-null int64
cat1          29971 non-null int64
property      29827 non-null object
buy_mount     29971 non-null int64
day           29971 non-null int64
dtypes: int64(5), object(2)
memory usage: 1.6+ MB

In [9]:
df['buy_date']=pd.to_datetime(df['day'],format='%Y%m%d',errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29971 entries, 0 to 29970
Data columns (total 8 columns):
user_id       29971 non-null object
auction_id    29971 non-null int64
cat_id        29971 non-null int64
cat1          29971 non-null int64
property      29827 non-null object
buy_mount     29971 non-null int64
day           29971 non-null int64
buy_date      29971 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 1.8+ MB

In [11]:
df['buy_date'].dt.day.head(3)

0    19
1    11
2    11
Name: buy_date, dtype: int64

In [14]:
df['diff_day']=pd.datetime.now()-df['buy_date']

In [15]:
df.head(3)

,user_id,auction_id,cat_id,cat1,property,buy_mount,day,buy_date,diff_day
0,786295544,41098319944,50014866,50022520,21458:86755362;13023209:3593274;10984217:21985...,2,20140919,2014-09-19,1982 days 12:39:04.856037
1,532110457,17916191097,50011993,28,21458:11399317;1628862:3251296;21475:137325;16...,1,20131011,2013-10-11,2325 days 12:39:04.856037
2,249013725,21896936223,50012461,50014815,21458:30992;1628665:92012;1628665:3233938;1628...,1,20131011,2013-10-11,2325 days 12:39:04.856037

In [16]:
df.dtypes

user_id                object
auction_id              int64
cat_id                  int64
cat1                    int64
property               object
buy_mount               int64
day                     int64
buy_date       datetime64[ns]
diff_day      timedelta64[ns]
dtype: object

In [18]:
df['diff_day'].dt.days.head(3)

0    1982
1    2325
2    2325
Name: diff_day, dtype: int64

In [20]:
df['diff_day'].dt.seconds.head(3)

0    45544
1    45544
2    45544
Name: diff_day, dtype: int64

In [23]:
df['时间差']=df['diff_day']/pd.Timedelta('1M')  #  1D 代表天 1H 代表小时 1M代表分钟

In [24]:
df['时间差'].head(5)   #显示为科学计数

0    2.854839e+06
1    3.348759e+06
2    3.348759e+06
3    2.805879e+06
4    2.790039e+06
Name: 时间差, dtype: float64

In [27]:
df['时间差'].round(decimals=3).head(4)   #改为小数位计数

0    2854839.081
1    3348759.081
2    3348759.081
3    2805879.081
Name: 时间差, dtype: float64

In [29]:
df['diff_day'].astype('timedelta64[Y]').head(4)  # Y年  h小时

0    5.0
1    6.0
2    6.0
3    5.0
Name: diff_day, dtype: float64

In [63]:
df.head(3)

,user_id,auction_id,cat_id,cat1,property,buy_mount,day,buy_date,diff_day,时间差
0,786295544,41098319944,50014866,50022520,21458:86755362;13023209:3593274;10984217:21985...,2,20140919,2014-09-19,1982 days 12:39:04.856037,2.854839e+06
1,532110457,17916191097,50011993,28,21458:11399317;1628862:3251296;21475:137325;16...,1,20131011,2013-10-11,2325 days 12:39:04.856037,3.348759e+06
2,249013725,21896936223,50012461,50014815,21458:30992;1628665:92012;1628665:3233938;1628...,1,20131011,2013-10-11,2325 days 12:39:04.856037,3.348759e+06

In [85]:
df.head(5)

,user_id,auction_id,cat_id,cat1,property,buy_mount,day
0,786295544,41098319944,50014866,50022520,21458:86755362;13023209:3593274;10984217:21985...,2,20140919
1,532110457,17916191097,50011993,28,21458:11399317;1628862:3251296;21475:137325;16...,1,20131011
2,249013725,21896936223,50012461,50014815,21458:30992;1628665:92012;1628665:3233938;1628...,1,20131011
3,917056007,12515996043,50018831,50014815,21458:15841995;21956:3494076;27000458:59723383...,2,20141023
4,444069173,20487688075,50013636,50008168,21458:30992;13658074:3323064;1628665:3233941;1...,1,20141103

In [90]:
df2 = df.drop(labels='user_id' ,axis=1).head(4)

In [109]:
df.head(4)

,user_id,auction_id,cat_id,cat1,property,buy_mount,day
0,786295544,41098319944,50014866,50022520,21458:86755362;13023209:3593274;10984217:21985...,2,20140919
1,532110457,17916191097,50011993,28,21458:11399317;1628862:3251296;21475:137325;16...,1,20131011
2,249013725,21896936223,50012461,50014815,21458:30992;1628665:92012;1628665:3233938;1628...,1,20131011
3,917056007,12515996043,50018831,50014815,21458:15841995;21956:3494076;27000458:59723383...,2,20141023

In [110]:
df2 = df.drop(columns=df.columns[[2,3,4]],axis=1)

In [111]:
df2

          user_id   auction_id  buy_mount       day
0       786295544  41098319944          2  20140919
1       532110457  17916191097          1  20131011
2       249013725  21896936223          1  20131011
3       917056007  12515996043          2  20141023
4       444069173  20487688075          1  20141103
5       152298847  41840167463          1  20141103
6       513441334  19909384116          1  20121212
7       297411659  13540124907          1  20121212
8        82830661  19948600790          1  20121101
9       475046636  10368360710          1  20121101
10      734147966  15307958346          2  20121101
11       68547330  21162876126          1  20121123
12      697081418  15898050723          1  20121123
13      377550424  15771663914          1  20121123
14       88313935  22532727492          1  20131005
15       25918750  16078389250          1  20131005
16      350288528  35086271572          1  20131129
17      348090113  17436967558          1  20131129
18     1635282280  36153356431          1  20131129
19      530850018  22058239899          1  20140210
20      749507708  19171641742          1  20140210
21      201088567  38564176352          1  20140502
22      469517728   8232924597          6  20140502
23      691367866  17712372914          1  20140804
24       77193822  35537441586          2  20140804
25      605678021  15502618744          1  20130226
26       47702620  26481508332          1  20140918
27      763560371  40945285800          1  20150201
28      408028533  35838498718          1  20141009
29       53566371  27177784760          1  20141009
...           ...          ...        ...       ...
29941   413188001  16521677358          1  20130107
29942   474062095  21129724585          1  20130107
29943   797710454  18176728510          1  20130107
29944  1716505453  37844041565          1  20141231
29945  1966692323  42504930457          1  20141231
29946   641734831  22105131076          2  20141016
29947   731030177  41666438142          1  20141016
29948    68515755  13953276547          1  20130729
29949   180436843  23375100402          1  20130729
29950   801784345  17629938386          1  20130729
29951   124458824  19739113764          1  20140322
29952   602141957  37251457564          1  20140322
29953   595095853  41160643364          1  20150111
29954  1905258237  42298652641          1  20150111
29955  1957645413  36768778465          1  20140815
29956  1854778218  37200665444          1  20140815
29957   268356658  36932456353          1  20141027
29958   196272909  10066997901          1  20141104
29959    23473499  38019470815          1  20141104
29960   816394377  19835118833          1  20130912
29961   164859586  15842319049          1  20130912
29962   119149466  26396292642          1  20130912
29963   704655047  10506866020          1  20121206
29964    45662429  20745380642          1  20121206
29965    35711492  16563353438          1  20121206
29966    57747284  35169635909          1  20140109
29967   287541325  19778523000          2  20140109
29968    82915321  12766532512          1  20131008
29969    78259523  18309305134          1  20131008
29970   758305789  20177445814          1  20131008

[29971 rows x 4 columns]